<!DOCTYPE html>
<html>
  <head>
    <title>Welcome Email</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        color: black;
        margin: 0px;
         max-width: 640px;
        margin: 0 auto;
      }
      .logo {
        text-align: center;
      }
      .logo-2 {
        text-align: center;
        margin-top: 24px;
      }

      .title {
        color: var(--secondary-black,#262626);
        font-family: Arial,sans-serif;
        font-size: 20px;
        font-weight: 600;
        line-height: 32px;
        margin: 0 auto;
        margin-top: 32px;
        max-width: 640px;
        padding: 0 64px;
        text-align: center;
      }
      .thank-you {
        text-align: center;
        margin-top: 56px;
        margin-bottom: 16px;
      }
      .hello,
      .congrat,
      .download {
        font-family: Arial, sans-serif;
        color: var(--secondary-black, #262626);
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 64px;
        margin: 0 auto;
        margin-top: 16px;
      }
      .congrat {
        margin: 28px 0px;
      }
      .btn-download {
        display: block;
        text-decoration: none;
        width: 271px;
        height: 48px;
        line-height: 48px;
        text-align: center;
        color: white;
        background: #ffa800;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 700;
        margin: auto;
        cursor: pointer;
        margin-top: 16px;
        margin-bottom: 16px;
      }
      .if-you,
      .best-regards{
        color: #262626;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 64px;
        margin: 0 auto;
        padding: 0 64px;
        margin: 0 auto;
        margin-top: 16px;
      }
      .the-team {
        color: #262626;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;
        padding: 0 64px;
        margin: 0 auto;
        padding: 0 64px;
        margin: 0 auto;
      }
      .best-regards {
        margin-top: 28px;
      }
      .the-team {
        font-weight: 700;
      }
      .group-link {
        text-align: center;
        margin-top: 48px;
        margin-bottom: 21px;
      }
      .group-link a {
        text-decoration: none;
      }
      .link-facebook {
        margin: 0px 24px;
      }
      .logo-twitter {
        width: 19px;
        margin-bottom: 3px;
      }
      .logo-footer {
        text-align: center;
        margin-top: 21px;
        margin-bottom: 16px;
      }
      .note,
      .footer {
        color: #737373;
        text-align: center;
        font-family: Arial, sans-serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 150%;
      }
      .note a {
        color: #737373;
      }
      .footer {
        margin-top: 16px;
      }
    </style>
  </head>
  <body>
    <div class="logo-footer">
      <img
        src="https://dev-static.apero.vn/ai-avatar/mail-icons/ic-avatar-footer.png"
        alt=""
      />
    </div>
    <div class="title">
      ✨ Your Avatar Creation is Complete! ✨
    </div>
    <div class="hello">Hello {{name}},</div>
    <div class="congrat">
      Congratulations! Your avatar creation is complete. We've worked our magic,
      and your avatar is ready to download.
    </div>
    <div class="download">
      To download your avatar, simply click the link below:
    </div>
    <a class="btn-download" href="{{urlDownload}}">
      DOWNLOAD YOUR AVATARS
    </a>
    <div class="if-you">
      If you have any questions or need assistance, don't hesitate to reach out.
    </div>
    <div class="best-regards">Best regards,</div>
    <div class="the-team">The Avatarist Team</div>
    <div class="group-link">
      <a href="">
        <img
          class="logo-twitter"
          src="https://dev-static.apero.vn/video-editor-pro/ai-style-thumbnail/logo-twitter-1cc40007-08a6-4237-b2d4-78bae7b29b29.png"
          alt=""
        />
      </a>
      <a href="" class="link-facebook">
        <img
          src="https://dev-static.apero.vn/video-editor-pro/ai-style-thumbnail/facebook-8854c87f-2cda-4793-b543-59bc460d58b3.png"
          alt=""
        />
      </a>
      <a href="">
        <img
          src="https://dev-static.apero.vn/video-editor-pro/ai-style-thumbnail/linked-9a9a832e-c2d2-47ac-aadd-e0a5459fa24b.png"
          alt=""
        />
      </a>
    </div>
    
    <div class="footer">
      VisionLab., Inc - 2 Le Van Thiem, Thanh Xuan District, Hanoi, Vietnam,
      100000
    </div>
  </body>
</html>
